@font-face {
    font-family: openSans_bold;
    src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: openSans_regular;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@media (min-width: 1200px) {
    header {
        background-image: url("../images/banner-bg.jpg");
        height: 450px;
        background-size: 100% auto;
    }
    header::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #666666;
        opacity: 0.6;
      }
    .logo {
        position: relative;
        height: 45px;
        width: 190px;
        left: 15%;
        top: 30px; 
    } 
    .menu ul {
        display: inline-block;
        position: absolute;
        right: 15%; 
        top: 44px;
    }
    .menu li {
        display: inline;
        margin-left: 30px;
        text-transform: uppercase;
        font-family: openSans_bold, sans-serif;
    }
    .menu a {
        font-size: 13px;
    }
    .menu a:link {
        text-decoration: none;
        color: #ffffff;
    }
    .menu a:hover, header a:active {
        text-decoration: underline;
    }
    h1 {
        color: #ffffff;
        font-size: 45px;
        font-family: openSans_bold, sans-serif;
        text-transform: uppercase;
        width: 43%;
        min-width: 700px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 195px; 
    }
}