@media (min-width: 1200px) {
    html {
        background-image: url("/NOEMI_mq_desktop.jpg");
        background-position: 100% auto;
    }
    header {
        background-image: url("/images/banner-bg.jpg");
        height: 150px;
        background-position: 100% auto;
        background-color: red;
    }
}